

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello!</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<body>
<h1>Welcome on the User side!</h1>
<p>As well as on the welcome side, POST, PUT and DELETE methods are not supported yet. <br>
But you can use some new endpoints.</p>
<ul>
    <li><a href="http://localhost:8080/user/getUser">Get user's data</a></li>
    <li><a href="http://localhost:8080/user/getShoppingCart">Get your shopping cart with products</a></li>
</ul>
<p><a href="/" th:href="@{/}">Back to home page</a></p>
</body>
</html>

